@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

:root [data-theme='skeleton'] {
	--theme-rounded-base: 20px;
	--theme-rounded-container: 4px;
}

.card {
    @apply rounded-container-token;
    @apply variant-ringed-primary p-6 rounded shadow;
  }
  
  .card-header {
    @apply text-xl font-bold mb-4;
  }
  
  .card-footer {
    @apply mt-4 p-4 border-t;
  }